* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F6F4F3;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 60px;
    background: #000000;
    color: #ffffff;
    padding: 24px 36px;
}

header a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}